/* --------------------------- */
/* RESETCSS */
/* --------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
/* --------------------------- */
/* REUSABLE COMPOMENTS */
/* --------------------------- */

.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ------------ HEADING -------------- */
h1,h2,h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    padding-bottom: 20px;
    color: #fff;
    font-size: 240%;
    letter-spacing: 1px;
    word-spacing: 4px;
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    width: 100px;
    height: 2px;
    background-color: #e67e22;
    margin: 0 auto;
    margin-top: 30px;
    content: " ";
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


/* ------------ BUTTON -------------- */

.btn:link,
.btn:visited,
input[type=submit] {
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    border: solid 1px #e67e22;
    transition: all 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover {
    background-color: #cf6d17;
    cursor: pointer;
}

.btn-ghost:hover {
    color: #fff;
}

/* ------------ SECTION -------------- */

.section {
    padding: 80px 0;
}

/* ------------ ICONS -------------- */

.icon-small {
    display: inline-block;
    text-align: center;
    width: 30px;
    font-size: 120%;
    color: #e67e22;
    padding-right: 10px;
}

/* ------------ LINK -------------- */

a:link,
a:visited {
    text-decoration: none;
    color: #e67e22;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: all 0.3s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}



/* --------------------------- */
/* HEADER */
/* --------------------------- */


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    /* width: calc(1140px/2); */
    width: 1140px;
    transform: translate(-50%,-50%);
}

/* -----------NAVBAR------------- */

nav {
    display: flex;
    flex-direction: row;
}

.main-nav {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;
}
.main-nav li {
    list-style: none;
}

.main-nav li a:link,
.main-nav li a:visited {
    transition: border 0.05s;
    display: block;
    padding: 5px 0;
    color: #fff;
    margin-left: 45px;
    text-decoration: none;
    font-size: 90%;
    font-weight: 300;
    border: 0;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: solid 2px #cf6d17;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}


/* --------------------------- */
/* FEATURES */
/* --------------------------- */

.section-features {
    padding-top: 80px;
    padding-bottom: 80px;
}

.long-copy {
    width: 70%;
    margin-left: 15%;
    line-height: 145%;
    margin-bottom: 30px;
}

.icon-big {
    display: block;
    color: #e67e22;
    font-size: 350%;
    margin-bottom: 15px;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* --------------------------- */
/* MEALS */
/* --------------------------- */

.section-meals {
    margin: 0;
}

.meals-showcase  {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    width: 25%;
    float: left;
    overflow: hidden;
}

.meal-image {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    /* overflow để ẩn đi phần thừa của scale */
}

.meal-image img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: all 0.5s;
}

.meal-image img:hover {
    width: 100%;
    opacity: 1;
    transform: scale(1.03);
}



/* --------------------------- */
/* SECTION-STEP */
/* --------------------------- */

.section-step {
    padding: 80px 0;
    background-color: #f4f4f4;
}

.steps-box {
    margin-top: 50px;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top:70px;
}


.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: block;
    font-size: 150%;
    width: 54px;
    height: 54px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    margin-right: 25px;
    float: left;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.btn-app:link,
.btn-app:visited {
    border: 0;
}


/* --------------------------- */
/* SECTION-CiTIES */
/* --------------------------- */


.section-cities {
    padding: 80px 0;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 10px;
}

/* --------------------------- */
/* SECTION-TESTIMONIALS */
/* --------------------------- */

.section-testimonials {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/back-customers.jpg);
    background-attachment: fixed;
    color: #fff;
    background-size: cover;
}

blockquote {
    position: relative;
    margin-top: 50px;
    padding: 2%;
    font-style: italic;
    line-height: 140%;
}

blockquote:before {
    position: absolute;
    content: "\201C";
    display: block;
    font-size: 500%;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
}



/* --------------------------- */
/* SECTION-PLANS */
/* --------------------------- */


.section-plans {
    padding: 80px 0;
    background-color: #f4f4f4;
}

.plan-box {
    margin-left: 5%;
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px #e3e3e3;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    color: #e67e22;
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
}


.plan-price span {
    color: #e67e22;
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/* --------------------------- */
/* SECTION-FORM */
/* --------------------------- */

.section-form {
    padding: 80px 0;
    width: 50%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    font-weight: 300;
    width: 100%;
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none}; /* dùng để xoá outline khi bấm vào */


/* --------------------------- */
/* FOOTER */
/* --------------------------- */


footer {
    padding: 80px 0;
    background-color: #333;
}

.footer-nav {
    list-style: none;
}

.social-links {
    list-style: none;
}


.footer-nav li {
    display: block;
    float: left;
    margin-right: 20px;
}

.social-links li {
    display: block;
    float: right;
    margin-right: 20px;
    font-size: 90%;
}

.social-links li a:link,
.social-links li a:visited,
.footer-nav li a:link,
.footer-nav li a:visited {
    border: 0;
    text-decoration: none;
    color: #888;
    transition: color 0.2s;
}

.social-links li a:hover,
.social-links li a:active,
.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

footer p {
    font-size: 90%;
    margin-top: 30px;
    color: #888;
    text-align: center;
}










